<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 相机权限 (用于二维码扫描) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- 读取媒体图片 -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".StudentApplication"
        android:theme="@style/Theme.test_filesync"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- 百度地图 API Key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="I8amZ51xvbA8Dptnv6JeoaEIXXcTrqPN"/>

        <!-- 极光推送配置 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}"
            tools:replace="android:value" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}"
            tools:replace="android:value" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.test_filesync">
        </activity>

        <!-- 桌面启动器别名，用于控制图标显示/隐藏 -->
        <activity-alias
            android:name=".MainActivityLauncher"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <!-- 隐藏状态的启动器别名（使用难以搜索的名称） -->
        <activity-alias
            android:name=".MainActivityLauncherHidden"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:label="demo"
            android:icon="@android:color/transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- WebView Activity -->
        <activity
            android:name=".WebviewActivity"
            android:exported="false"
            android:theme="@style/Theme.test_filesync"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!-- Bind Activity -->
        <activity
            android:name=".activity.BindActivity"
            android:exported="false"
            android:theme="@style/Theme.test_filesync" />

        <!-- QR Scan Activity -->
        <activity
            android:name=".activity.QrScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.test_filesync" />

        <!-- Note ContentProvider -->
        <provider
            android:name=".provider.NoteProvider"
            android:authorities="com.example.test_filesync.provider"
            android:exported="false" />

        <!-- 媒体投影服务 -->
        <service
            android:name=".service.MediaProjectionService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <!--百度地图定位-->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>

        <!-- 无障碍服务 -->
        <service
            android:name=".service.MyAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
            android:name="android.accessibilityservice"
            android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name=".service.RemoveNoticeService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service
            android:name=".service.LocationService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />

        <service
            android:name=".service.FloatingWindowService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:stopWithTask="false" />

        <service android:name=".service.JiService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>


        <receiver
            android:name=".receiver.PolicyReceiver"
            android:description="@string/app_description"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
            android:name="android.app.device_admin"
            android:resource="@xml/policy" />
            <intent-filter>
            <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Android广播接收器（BroadcastReceiver）是Android四大组件之一，主要用于‌接收和处理来自系统或其他应用发送的广播消息‌ -->
        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
            <!-- 设备启动完成 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 快速启动 -->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!-- 华为 launcher 权限 -->
                <action android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
                <!-- 应用替换 -->
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <!-- 包替换 -->
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <!-- 包移除 -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
            </intent-filter>
        </receiver>

        <!-- 极光推送接收器 -->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!-- 自定义消息 -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- 通知消息到达 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- 通知消息被点击 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 注册结果 -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- 连接状态变化 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

      <!--honor_config_start-->
      <meta-data
        android:name="com.hihonor.push.app_id"
        android:value="${HONOR_APPID}" />
      <service
            android:name=".receiver.MyHonorMsgService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hihonor.push.action.MESSAGING_EVENT" />
            </intent-filter>
      </service>
      <!--honor_config_end-->

    </application>

    <!-- 荣耀推送查询 (targetSdkVersion >= 30 需要) -->
    <queries>
        <intent>
            <action android:name="com.hihonor.push.action.BIND_PUSH_SERVICE" />
        </intent>
    </queries>

    <!-- 读取媒体视频 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- 读取音频 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- 选择性媒体访问权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- 定位前台服务权限 -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
        android:minSdkVersion="34" /> <!-- 通用前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" /> <!-- 控制应用发送通知的权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 声明前台服务类型为‌数据同步 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 允许应用在后台（无界面交互时）获取设备位置 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" /> <!-- 精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 粗略定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 定位前台服务权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_CLIPBOARD" /> <!-- 剪切板 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" /> <!-- 截图权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" /> <!-- 特殊用途前台服务权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 开机自启动权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- 请求忽略电池优化权限 -->

    <!-- 极光推送所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 系统截图 -->
<!--    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"-->
<!--      tools:ignore="ProtectedPermissions" />-->




</manifest>
